<!-- Child of answer.hbs -->

<ul>
  <!-- Lists answers and authors for each question on question.hbs template -->
  {{#each sortedAnswers as |answer|}}
    <li class="font-16">{{answer.answer}} - {{answer.answerer}}</li>
    <!-- Display star rating -->
    {{answer-rating answer.rating}}

    <!-- Not sure why this doesn't work -->
    <!-- {{answer-rating answer}} -->


    <!-- Rate the answer form and submit button displayed -->
    {{rate-answer rateAnswer="rateAnswer" answer=answer}}
  {{/each}}
</ul>
